In [142]:
#Midterm Le Duc Anh

#importing packages
import pandas as pd
import numpy as np
import requests
import json

from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import os

In [ ]:
link = 'https://ies-midterm.soulution.rocks/'

#post request

r = requests.post(link + 'login', json = {"cuni":"86542930"})
info = r.text

In [14]:
info

'{"data": {"personal_code": "19b93536", "dataset_ids": ["86c214b421", "f894683be9", "11f651d1ee", "5aa21103e8", "779ce2818b", "7be200ce5b", "64a5d99db0", "3bd4cabfaa", "8c34bdfc03"]}, "message": "Hello, Le Duc Anh, Bc! Good luck with the midterm. GET your data set from /data/file_id endpoint; use the codes you received in the data response as the file_id parameter! Print the personal code in your notebook."}'

In [26]:
infoJson = json.loads(info)
personalCode = infoJson['data']['personal_code']
print('My personal code is', personalCode)

My personal code is 19b93536

In [30]:
datasetIDs = infoJson['data']['dataset_ids']
datasetIDs

['86c214b421',
 'f894683be9',
 '11f651d1ee',
 '5aa21103e8',
 '779ce2818b',
 '7be200ce5b',
 '64a5d99db0',
 '3bd4cabfaa',
 '8c34bdfc03']

In [101]:
requestList = []
for i in range(len(datasetIDs)):  
    statusCode = 0
    while statusCode != 200:
        request = requests.get(link + 'data/' + datasetIDs[i])
        statusCode = request.status_code
        if statusCode == 200:
            requestList.append(request)

In [133]:
#success 
requestList

[<Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>]

In [134]:
requestList[1].text

'{"data": {"company": "RTO", "data": [["2020-01-24", "1865.0", "1865.0", "1865.0", "1865.0", "1865.0", "0"], [""]]}, "message": "Columns are in order Date,Open,High,Low,Close,Adj.Close,Volume. Make sure your data are ordered."}'

In [150]:
jsonData = []
for i in range(len(requestList)):
    jsonData.append(json.loads(requestList[i].text)['data']['data'])

In [191]:
columns = ['Date','Open','High','Low','Close','Adj.Close','Volume']
df0 = pd.read_json(json.dumps(jsonData[0]))
df1 = pd.read_json(json.dumps(jsonData[1]))
df2 = pd.read_json(json.dumps(jsonData[2]))
df3 = pd.read_json(json.dumps(jsonData[3]))
df4 = pd.read_json(json.dumps(jsonData[4]))
df5 = pd.read_json(json.dumps(jsonData[5]))
df6 = pd.read_json(json.dumps(jsonData[6]))
df7 = pd.read_json(json.dumps(jsonData[7]))
df8 = pd.read_json(json.dumps(jsonData[8]))

companyNames = []
for i in range(len(requestList)):
    companyNames.append(json.loads(requestList[i].text)['data']['company'])

df = pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8], keys = companyNames)
df.columns = columns
df

                Date       Open       High        Low      Close  Adj.Close  \
TSCO 0    2019-01-02  81.809998  84.010002  80.860001  82.230003  80.107086
     1    2019-01-03  82.080002  82.410004  80.309998  80.680000  78.597084
     2    2019-01-04  82.000000  83.430000  80.900002  82.339996  80.214233
     3    2019-01-07  82.239998  84.510002  82.029999  83.550003  81.392998
     4    2019-01-08  84.129997  84.559998  82.430000  83.500000  81.344292
...              ...        ...        ...        ...        ...        ...
IHG  474  2020-11-17  61.090000  62.049999  60.930000  61.540001  61.540001
     475  2020-11-18  60.830002  61.730000  60.320000  60.320000  60.320000
     476  2020-11-19  59.060001  59.849998  58.880001  59.820000  59.820000
     477  2020-11-20  59.930000  60.130001  59.549999  59.669998  59.669998
     478                    NaN        NaN        NaN        NaN        NaN

             Volume
TSCO 0    1517100.0
     1    2161900.0
     2    2043500.0
     3    2540100.0
     4    2002800.0
...             ...
IHG  474   170400.0
     475   134200.0
     476   158000.0
     477   100500.0
     478        NaN

[3460 rows x 7 columns]

In [190]:
df['Date'].min()
df['Date'].max()

'2020-11-20'

In [192]:
#Date with highest volume
df.loc[df['Volume']== df['Volume'].max(), 'Date']

AUTO  417    2020-08-27
Name: Date, dtype: object

In [194]:
df['log_ret'] = np.log(df['Open']/df['Close'])
df

                Date       Open       High        Low      Close  Adj.Close  \
TSCO 0    2019-01-02  81.809998  84.010002  80.860001  82.230003  80.107086
     1    2019-01-03  82.080002  82.410004  80.309998  80.680000  78.597084
     2    2019-01-04  82.000000  83.430000  80.900002  82.339996  80.214233
     3    2019-01-07  82.239998  84.510002  82.029999  83.550003  81.392998
     4    2019-01-08  84.129997  84.559998  82.430000  83.500000  81.344292
...              ...        ...        ...        ...        ...        ...
IHG  474  2020-11-17  61.090000  62.049999  60.930000  61.540001  61.540001
     475  2020-11-18  60.830002  61.730000  60.320000  60.320000  60.320000
     476  2020-11-19  59.060001  59.849998  58.880001  59.820000  59.820000
     477  2020-11-20  59.930000  60.130001  59.549999  59.669998  59.669998
     478                    NaN        NaN        NaN        NaN        NaN

             Volume   log_ret
TSCO 0    1517100.0 -0.005121
     1    2161900.0  0.017204
     2    2043500.0 -0.004138
     3    2540100.0 -0.015804
     4    2002800.0  0.007517
...             ...       ...
IHG  474   170400.0 -0.007339
     475   134200.0  0.008419
     476   158000.0 -0.012786
     477   100500.0  0.004348
     478        NaN       NaN

[3460 rows x 8 columns]

In [197]:
#Highest loss 
dateLoss = df.loc[df['log_ret']== df['log_ret'].min(), 'Date']
print(dateLoss)

AUTO  309    2020-03-25
Name: Date, dtype: object